<div  fxLayout="row" fxLayoutAlign="center" > 
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="900px" >
        <form class="mt-60" #clientesFrm="ngForm" (ngSubmit)="salvar()">
           <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title class="full-width">  Dados Pessoais</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-20">
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                    <div fxLayout="column" fxFlex="800px">
                    <mat-form-field fxFlex="100" class="full-width">
                        <mat-label>Nome: *</mat-label>
                        <input type="text" matInput placeholder="Ex:. Leonardo Silva" [(ngModel)]="client.name" name="nome"/>
                    </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                      <div fxLayout="column" fxFlex="800px">
                    <mat-form-field fxFlex="100" class="full-width">
                        <mat-label>Email: *</mat-label>
                        <input type="email" matInput placeholder="usuario@dominio.com" [(ngModel)]="client.email" name="email"/>
                    </mat-form-field>
                    </div>
                    </div>
                     <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                          <div fxLayout="column" fxFlex="400px">
                    <mat-form-field fxFlex="100" class="full-width">
                        <mat-label>CPF: *</mat-label>
                        <input type="text" matInput mask="000.000.000-00" placeholder="000.000.000-00" [(ngModel)]="client.cpf" name="cpf"/>
                    </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="380px">
                    <mat-form-field class="full-width">
                        <mat-label>UF *</mat-label>
                        <mat-select [(value)]="client.uf" (selectionChange)="carregarMunicipios($event)">
                            <mat-option *ngFor="let uf of estados" [value]="uf.sigla">
                            {{ uf.sigla }} - {{ uf.nome }}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    </div>
                     <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                          <div fxLayout="column" fxFlex="400px">
                    <mat-form-field fxFlex="100" class="full-width">
                        <mat-label>Data de Nascimento: *</mat-label>
                        <input type="text" mask="00/00/0000" matInput [(ngModel)]="client.dataNascimento" name="dataNascimento"/>
                    </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="380px">
                    <mat-form-field class="full-width">
                        <mat-label>Municipios *</mat-label>
                        <mat-select [(value)]="client.municipios">
                            <mat-option *ngFor="let m of municipios" [value]="m.nome">
                            {{ m.nome }} 
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    </div>
                </mat-card-content>    
                <mat-card-actions fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="end" >
                    @if(!atualizar){
                    <button mat-flat-button color="primary" type="submit">
                        <mat-icon fontIcon="save"></mat-icon>Salvar</button>
                    } @else {
                          <button mat-flat-button color="primary" type="submit">
                        <mat-icon fontIcon="refresh"></mat-icon>Atualizar</button>
                    }
                            <button mat-flat-button (click)="limpar()" color="accent" type="button">
                        <mat-icon fontIcon="backspace"></mat-icon>Limpar</button>
                </mat-card-actions> 
           </mat-card> 
        </form>

    </div>
 



</div>
